<div class="navbar">
  <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular Logo" class="logo">
  <h1>MyAngularApp</h1>
  <span class="author-name">Xin chào, {{ authorName }}</span>
</div>
<div class="main-container">
  <div class="sidebar">
    <ul>
      <li><a href="#">Trang chủ</a></li>
      <li><a href="#">Thông báo</a></li>
      <li><a href="#">Tin nhắn</a></li>
      <li><a href="#">Cài đặt</a></li>
    </ul>
  </div>
  <div class="welcome-container">
    <div class="welcome-content">
      <h1>Trang chủ</h1>
      <div class="post-form">
        <textarea placeholder="Bạn đang nghĩ gì?" [(ngModel)]="newPostContent"></textarea>
        <button (click)="addPost()">Đăng</button>
      </div>
      <div class="posts">
        <div class="post" *ngFor="let post of posts">
          <h3>{{ post.author }}</h3>
          <p>{{ post.content }}</p>
          <span class="timestamp">{{ post.timestamp | date: 'short' }}</span>
          <div class="post-actions">
            <button (click)="likePost(post)" [attr.data-post-id]="post.timestamp.getTime()">
              <i class="fas fa-thumbs-up"></i> Thích ({{ post.likes }})
            </button>
            <button (click)="toggleComments(post)">
              <i class="fas fa-comment"></i> Bình luận ({{ post.comments.length }})
            </button>
            <button (click)="sharePost(post)">
              <i class="fas fa-share"></i> Chia sẻ
            </button>
          </div>
          <div class="comments" *ngIf="post.showComments">
            <div *ngFor="let comment of post.comments">
              <p><strong>{{ comment.author }}:</strong> {{ comment.content }}</p>
            </div>
            <div class="comment-form">
              <input [(ngModel)]="post.newComment" placeholder="Viết bình luận..." />
              <button (click)="addComment(post)">Gửi</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

