USE [master]
GO
/****** Object:  Database [QuanlyWeb]    Script Date: 3/20/2025 1:21:50 PM ******/
CREATE DATABASE [QuanlyWeb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanlyWeb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanlyWeb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanlyWeb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanlyWeb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanlyWeb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanlyWeb]
GO
/****** Object:  Table [dbo].[follows]    Script Date: 3/20/2025 1:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[follows](
	[following_user_id] [int] NULL,
	[follwoed_user_id] [int] NULL,
	[created_at] [timestamp] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[posts]    Script Date: 3/20/2025 1:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[posts](
	[id] [int] NULL,
	[title] [varchar](50) NULL,
	[body] [text] NULL,
	[user_id] [int] NULL,
	[status] [varchar](50) NULL,
	[created_at] [timestamp] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 3/20/2025 1:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] NULL,
	[username] [varchar](50) NULL,
	[role] [varchar](50) NULL,
	[created_at] [timestamp] NULL
) ON [PRIMARY]
GO
USE [master]
GO
